/* You can add global styles to this file, and also import other style files */
:root{
    --color-primary: #3e641bff;
    --color-secondary: #92c83dff;
    --color-tertiary: #e3f3e5;
}

body{
    margin-top: 68px;
}